<h1>Home Page</h1>

<div id="is-this-working"></div>

<form>
<input type="text">
<input type="submit">
</form><br>

<div id="contact-list">
  <p><button id="list-contacts">List all contacts</button></p>
</div>

<p><button id="clear-contacts">Clear</button></p>

<p>
  <form id="new-contact">
    <label>First Name:</label>
    <br>
    <input id="first-name-input" type="text" name="firstname"><br>

    <label>Last Name:</label>
    <br>
    <input id="last-name-input" type="text" name="lastname"><br>

    <label>Email:</label>
    <br>
    <input id="email-input" type="text" name="email"><br>

    <label>Phone Number:</label>
    <br>
    <input id="phone-number-input" type="text" name="phone_number"><br>

    <button id="create-new-contact" type="submit">Create new contact</button>
  </form>
</p>

