<h1>Home Page</h1>

<p>
    <button id="list-contacts">List all contacts</button>
    <button id="clear-contacts">Clear</button>
</p>

<table id="contact-list-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<p>
    <button id="create-new-contact" type="submit">Create new contact</button>
</p>

<form id="new-contact-form">
    <label>First Name:</label>
    <br>
    <input id="first-name-input" type="text" name="firstname"><br>

    <label>Last Name:</label>
    <br>
    <input id="last-name-input" type="text" name="lastname"><br>

    <label>Email:</label>
    <br>
    <input id="email-input" type="text" name="email"><br>

    <label>Phone Number:</label>
    <br>
    <input id="phone-number-input" type="text" name="phone_number"><br>
  <button id="submit-new-contact">Submit</button>
</form>

<div id="show-new-contact"></div>

<form id="show-contact-form">
    <label>Show contact (by id):</label>
    <br>
    <input id="show-id-input" type="text" name="id"><br>

    <button id="show-contact" type="submit">Show contact</button>
</form>

<div id="show-contact-data"></div>

<form id="delete-contact-form">
    <label>Delete contact (by id):</label>
    <br>
    <input id="delete-id-input" type="text" name="id"><br>

    <button id="delete-contact" type="submit">Delete contact</button>
</form>