<h1>Home Page</h1>

<div id="is-this-working"></div>

<form>
<input type="text">
<input type="submit">
</form><br>

<div id="contact-list">
  <button id="list-contacts">List all contacts</button><br>
</div>
<button id="clear-contacts">Clear</button>
